.default-container {
	padding: 10px;
	background: white;
}

.main-c {	
	background: white;
	box-shadow: 0px 0px 3px 0.5px gray;
}

.dark-bg {

}

.border-50 {
	border-radius: 50%;
}

.box-shadow {
	box-shadow: 0px 0px 3px 0.5px gray; 
}

img.profile-pic {
	background: hsl(210, 50%, 93%);
	box-shadow: 0px 0px 3px 0.5px gray; 
}

.image-container {
  	position: relative;
}

.image-container:after {
  	content: "";
  	display: block;
  	padding-bottom: 100%;
}

.image-container img {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0; 
  	width: 100%; 
  	height: 100%; 
  	object-fit: cover;
 	object-position: center;

	background: hsl(210, 50%, 93%);
}