html, body {
	width: 100%;
}

.friends-list .list-group-item {
	box-shadow: 0px 0px 1px 0.3px gray;
}

.friends-list .list-group-item:hover {
	background: hsl(0, 0%, 97%);
}

.post:hover {
	background: hsl(0, 0%, 97%);
}

.mid-container small {
	overflow: hidden;
	text-overflow: clip;
}

.comments div:hover {
	background: hsl(0, 0%, 92%);
}

.img-container-size {
	width: 37%; 
}

#feed {
	background: hsla(0, 0%, 0%, 0);
	box-shadow: 0px 0px 0px 0px black;
}

#feed p {
	color: hsla(0, 0%, 25%);
}

form textarea, form input[type="file"] {
	margin-bottom: 10px;
}

form textarea {
	border-radius: 0px !important;
	border: none !important;
}

form textarea:focus {
	box-shadow: none !important;
	outline: none;
}


#post-form ::-webkit-file-upload-button,
#post-form ::-ms-browse {
	padding: 3px 10px;
	border: 1px solid gray;

	background: hsl(0, 0%, 85%);
}

#post-form ::-webkit-file-upload-button:hover,
#post-form ::-ms-browse:hover {
	background: hsl(0, 0%, 80%);
}

#post-form ::-webkit-file-upload-button:active, 
#post-form ::-webkit-file-upload-button:focus,
#post-form ::-ms-browse:active,
#post-form ::-ms-browse:focus {
	box-shadow: inset 0px 0px 0px black;
	background: hsl(0, 0%, 73%);
	outline: none;
}

form button[type="submit"] {
	padding: 5px 10px;
	border: none;
	border-radius: 0px;
	cursor: pointer;

	background: hsl(0, 0%, 27%);
	color: white;
}

form button[type="submit"]:hover {
	background: hsl(0, 0%, 23%);
}

form button[type="submit"]:active {
	box-shadow: inset 0px 0px 0px black;
	background: hsl(0, 0%, 23%);
	box-shadow: 0px 0px 0px 0px black;
	border: none;
}